<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
 id="yeddawang.ui.chinese"
 name="OxyCNUI"
 description="为Oxygen XML编辑器提供最地道的简体中文界面"
 version="0.0.2"
 vendor="王烨"
 class="ro.sync.exml.plugin.Plugin">
 <extension type="AdditionalUITranslation" href="translation.xml"/>
</plugin>